.quantities {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    text-align: center;
    align-items: center;
}

.show-quantities-button {
    width: 300px;
    margin-bottom: 15px;
}